                        <thead class="table-dark">
                            <tr>
                                                                <th class="col-nom">Nom de l'Église</th>
                                <th class="col-pays">Pays</th>
                                <th class="col-ville">Ville</th>
                                <th class="col-quartier">Quartier</th>
                                <th class="col-pasteur">Pasteur en charge</th>
                                <th class="col-telephone">Téléphone</th>
                                <th class="col-email">Email</th>
                                <th class="col-date">Date de fondation</th>
                                <th class="col-membres">Membres</th>
                                <th class="col-adresse">Adresse</th>
                                <th class="col-association">A. but non lucratif</th>
                                <th class="col-numero">N° d'enregistrement</th>
                                <th class="col-date-enreg">Date d'enregistrement</th>
                                <th class="col-activites">Principales activités</th>
                                <th class="col-autres-activites">Autres activités</th>
                                <th class="col-fondateurs">Liste des membres fondateurs</th>
                                <th class="col-statuts">Statuts et règlements intérieurs</th>
                                <th class="col-identite">Pièce d'identité</th>
                                <th class="col-preuve">Preuve d'adresse</th>
                                <th class="col-declaration">Déclaration</th>
                                <th class="col-date-decl">Date</th>
                                <th class="col-signature">Signature</th>
                                <th class="col-signature-electronique">Signature Électronique</th>
                                <th class="col-actions">Actions</th>

                            </tr>
                        </thead>
